html {
  font-size: 62.5%;
  // This makes 1rem = 10px, making it easier to set exact pizel sizes with responsive units when needed.
  scroll-behavior: smooth;
}

html,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // this gives you complete custom control of the width of your elements without needing to calculate width+padding+border
}

img {
  max-width: 100%;
  object-fit: cover;
}

video {
  min-width: 0;
  max-width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.header {
  background-image: url("../../assets/pngs/top-bg.png");
  background-size: contain;
  padding: $p10 0 $g-section;
  position: relative;

  &__navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: $p5 0;
    z-index: 10;
    transition: $transition-med;

    &--hide {
      transform: translateY(-200px);
    }

    &--visible-scrolled {
      transform: translateY(0);
      background: rgba(#343438, 0.8);
    }

    @media (min-width: 900px) {
      padding: 0;
    }
  }

  @media (min-width: 900px) {
    padding: $g-section-xl 0 $g-section-l;
  }

  &__hero {
  }
}
