html {
  font-size: 62.5%;
  // This makes 1rem = 10px, making it easier to set exact pizel sizes with responsive units when needed.
  scroll-behavior: smooth;

  // This will increase the font and padding size slightly for dekstop screen lasrger the 21.5inches.
  @include media(desktop) {
    font-size: 75%;
  }
}

html,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  // this gives you complete custom control of the width of your elements without needing to calculate width+padding+border
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: inherit;
  outline: inherit;
  background: inherit;
  text-align: inherit;
}
