// This file contains all the base typography styles being used in this project.
body {
  font-family: fieldwork, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
  color: $text-dark;
}

// setting color to inherit from parent element. Allows for BEM's method of parent styling child.
p,
ul,
li,
a,
div,
span {
  color: inherit;
}

// reseting list styles
ul {
  list-style: none;
}

// reseting link styles
a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    opacity: 0.9;
    transform: scale(1.01);
  }

  &:focus {
    outline: 3px solid currentColor;
    outline-offset: 5px;
  }
}

// the purpose for styling a .heading class instead of h1-h6 tags is so that the heading styles can be applied to elements other than h1-h6, this makes the use of semantic html tags easier without worrying about font styles which are uniques to certain tags.
.heading {
  &--primary {
    font-size: 5rem;
    color: $primary-dark;
    line-height: 1;
  }

  &--secondary {
    font-size: 3.6rem;
    color: $primary-dark;
    line-height: 1;
  }
}
