.hero-container {
  // background: url("../../assets/body-svgs/Emblem.png") no-repeat center left,
  //   url("../../assets/pngs/top-bg.png") repeat center;
  // background-size: auto, cover;

  // @include media(tablet-l) {
  //   background-position: center right, center;
  //   background-size: auto, contain;
  // }

  // padding: $g-section-xl 0 $g-section;
}

.hero {
  background: url("../../assets/body-svgs/Emblem.png") no-repeat center left,
    url("../../assets/pngs/top-bg.png") repeat center;
  background-size: auto, cover;

  @include media(tablet-l) {
    background-position: center right, center;
    background-size: auto, contain;
  }

  padding: $g-section-xl 0 $g-section;

  &__container {
    @include container();
    padding: $g-elem;
    border-radius: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: $box-shadow-dark;
  }

  &__heading {
    margin-bottom: $g-elem;
  }

  &__body {
    margin-bottom: $g-elem;
  }

  @include media(tablet-l) {
    &__container {
      flex-direction: row;
    }

    &__video {
      flex-basis: 55%;
    }

    &__text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: start;
      flex-basis: 45%;
      margin-right: 4rem;
    }
  }
}
