.main-content:first-of-type {
  margin-top: $g-section-l;
}

.main-content {
  @include container;
  padding-bottom: $g-section;
  position: relative;

  & > :not(:last-child) {
    margin-bottom: $g-elem;
  }

  &__heading {
    margin-bottom: $g-elem;
  }

  &__icons {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 1rem;
    max-width: 500px;
    margin: 0 auto;

    &--single {
      @extend .main-content__icons;
      justify-items: center;
    }

    &--double {
      @extend .main-content__icons;
      justify-content: space-between;
    }
  }

  &__go-to-top {
    margin-top: $g-elem-xl;
    display: flex;
    justify-content: center;
    transition: $transition-fast;

    &:hover {
      animation: bounce 1s ease-in-out infinite forwards;
    }

    &:focus {
      outline: none;
    }
  }

  @include media(tablet-l) {
    padding-bottom: $g-section-l;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > :not(:last-child) {
      margin: 0;
    }

    &__icons {
      flex-basis: 50%;

      &--double {
        justify-content: space-around;
      }
    }

    &__text {
      flex-basis: 50%;
    }

    &__go-to-top {
      display: block;
      position: absolute;
      bottom: 10%;
      transform: translateX(45vw);

      &:hover {
        animation: bounce-transform-right 1s ease-in-out infinite forwards;
      }
    }
  }

  //   last .main-content section requires column direction
  &:last-of-type {
    flex-direction: column;
  }
}
