.navbar {
  @include container();
  display: flex;
  justify-content: space-between;
  align-items: center;

  // This classes is enabled/disables with javascript and adds the dark background to navbar when scrolling
  &__dark-overlay {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba($secondary-dark, 0.9);
    visibility: hidden;
    opacity: 0;
    transition: $transition-fast;

    &--visible {
      visibility: visible;
      opacity: 1;
    }
  }
}

.main-nav {
  @include container();
  position: absolute;
  top: 0;
  margin-top: $g-section-xl;
  padding: $g-elem-sm;
  border-radius: 20px;
  background: $light;
  transform-origin: left;
  transform: translateX(-100vw);
  transition: $transition-fast;

  // Set's default hight of mobile navigation
  height: 635px;
  min-height: 400px;

  // set's max height (this makes it responsive if the viewport is shorter than the height set above.
  max-height: calc(100vh - (#{$g-section-xl} + 1rem));

  @include media(tablet-l) {
    margin-top: $g-section-xl;
    height: initial;
    min-height: initial;
  }

  &__list {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    gap: 1rem;
  }

  &__item {
    @include center();

    // Selects the last two item elements and assigns them to a signle row each
    &:nth-last-of-type(2) {
      grid-column: 1 / -1;
    }

    // selects the PDF button and ads the spacing from icons to btn
    &--btn {
      grid-row: 4 / span 2;
      grid-column: 1 / -1;
      align-self: end;

      .btn {
        width: 100%;
      }
    }

    // Hides the home icon only visible on large viewports
    &--home {
      display: none;
    }
  }

  &__link {
    @include center();
    flex-direction: column;
    color: $text-dark;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;

    @include media(mobile-l) {
      font-size: inherit;
    }

    & img {
      height: 50px;

      @include media(mobile-l) {
        height: 75px;
      }

      @include media(tablet-pt) {
        height: 100px;
      }
    }

    &:hover,
    & img:hover {
      opacity: 0.9;
      transform: scale(1.01);
      cursor: pointer;
    }
    &:active {
      transform: scale(0.98);
    }
  }

  &--visible {
    transform: translateX(0);
  }

  @include media(tablet-l) {
    position: relative;
    transform: translateX(0);
    margin: 0 $g-elem 0 0;
    padding: $g-section-sm 0;
    background-color: transparent;
    max-width: 100%;

    &__list {
      gap: 0;
      // gap on flex is not fully supported by browsers, so we initialise it and use padding/margin for spacing below as we switch to display:flex.

      margin: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      justify-content: space-between;

      & :not(:first-child):not(:last-child) {
        width: 100%;
        border-right: 1px solid $light;
        height: 60px;
      }
    }

    &__item {
      &:not(:last-child) > a {
        font-size: 0;
        color: transparent;
      }

      &--btn {
        align-self: center;
        margin: 0;
        margin-right: 4rem;
        order: -1;
        min-width: max-content;
      }

      &--home {
        display: initial;
        margin-right: 2rem;
        order: -2;
      }
    }

    &__link {
      width: max-content;
      & img {
        height: 51px;
        object-fit: contain;
      }
    }
  }
}
