@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin container() {
  width: 1072px;
  max-width: 85vw;
  margin: 0 auto;
}

@mixin media($viewport) {
  @media screen and (min-width: map-get($breakpoints, $viewport)) {
    @content;
  }
}
